<div class="ui card">
    <div class="ui slide masked reveal image">
        <img src="img/Diablo.JPG" class="visible content">
        <img src="img/Diablo.JPG" class="hidden content">
    </div>
    <div class="content">
        <a class="header">Team Fu &amp; Hess</a>
        <div class="meta">
            <span class="date">Create in Sep 2014</span>
        </div>
    </div>
    <div class="extra content">
        <a>
          <i class="users icon"></i>
          2 Members
        </a>
    </div>
</div>